.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 0.8rem;
  border: 1px solid #a6a5a5;
  border-radius: 6px;
  font-size: 0.95rem;
  font-family: inherit;
  background: #f6f7f9;
  transition: all 0.2s;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
  color: #999;
}

.label {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.cancelBtn {
  flex: 1;
  padding: 0.8rem;
  background: #f0f0f0;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.cancelBtn:hover {
  background: #e0e0e0;
}

.scheduleBtn {
  flex: 1;
  padding: 0.8rem;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.scheduleBtn:hover {
  background: #333;
}
